Repository Scofieldfree/excalidraw-mcp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: add project infrastructure files
  .editorconfig
  .env.example
  .github/workflows/ci.yml
  .vscode/extensions.json
  .vscode/settings.json
  LICENSE
  README.md
Due: prettier --write

chore: add git hooks and lint-staged configuration
  .husky/pre-commit
  .lintstagedrc
Due: none

build: configure TypeScript and Vite for MCP server
  package.json
  packages/mcp-server/package.json
  packages/mcp-server/tsconfig.json
  packages/mcp-server/vite.config.ts
Due: eslint --fix, prettier --write

feat(core): implement session state and WebSocket synchronization
  packages/mcp-server/src/http-server.ts
  packages/mcp-server/src/logger.ts
  packages/mcp-server/src/state.ts
  packages/mcp-server/src/websocket.ts
Due: eslint --fix, prettier --write

feat(tools): implement start_session and add_elements MCP tools
  packages/mcp-server/src/tools/add-elements.ts
  packages/mcp-server/src/tools/index.ts
  packages/mcp-server/src/tools/start-session.ts
Due: eslint --fix, prettier --write

feat(tools): add remaining MCP tools for diagram manipulation
  packages/mcp-server/src/tools/create-diagram.ts
  packages/mcp-server/src/tools/delete-element.ts
  packages/mcp-server/src/tools/export.ts
  packages/mcp-server/src/tools/get-scene.ts
  packages/mcp-server/src/tools/update-element.ts
Due: eslint --fix, prettier --write

feat(web): implement Excalidraw editor integration
  packages/mcp-server/web/App.tsx
  packages/mcp-server/web/main.tsx
Due: eslint --fix, prettier --write

chore: update .gitignore for Node.js and build outputs
  .gitignore
Due: none

feat(web): implement HTTP server and WebSocket real-time sync
  .gitignore
  packages/mcp-server/package.json
  packages/mcp-server/src/http-server.ts
  packages/mcp-server/src/tools/add-elements.ts
  packages/mcp-server/src/tools/delete-element.ts
  packages/mcp-server/src/tools/start-session.ts
  packages/mcp-server/src/tools/update-element.ts
  packages/mcp-server/src/websocket.ts
  packages/mcp-server/tsconfig.server.json
  packages/mcp-server/tsconfig.web.json
  packages/mcp-server/vite.config.ts
  packages/mcp-server/web/App.tsx
Due: eslint --fix, prettier --write

feat(elements): enhance element schema with full Excalidraw support
  packages/mcp-server/package.json
  packages/mcp-server/src/state.ts
  packages/mcp-server/src/tools/add-elements.ts
  packages/mcp-server/src/websocket.ts
  packages/mcp-server/web/App.tsx
Due: eslint --fix, prettier --write

feat(export): implement server-side file export with browser rendering
  packages/mcp-server/src/http-server.ts
  packages/mcp-server/src/tools/export.ts
  packages/mcp-server/src/tools/start-session.ts
  packages/mcp-server/vite.config.ts
Due: eslint --fix, prettier --write

refactor(app): use type-only imports and update Excalidraw API
  packages/mcp-server/src/websocket.ts
  packages/mcp-server/web/App.tsx
Due: eslint --fix, prettier --write

feat(server): enhance multi-session support with port auto-increment
  packages/mcp-server/src/http-server.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/state.ts
  packages/mcp-server/src/tools/add-elements.ts
  packages/mcp-server/src/tools/create-diagram.ts
  packages/mcp-server/src/tools/delete-element.ts
  packages/mcp-server/src/tools/export.ts
  packages/mcp-server/src/tools/get-scene.ts
  packages/mcp-server/src/tools/start-session.ts
  packages/mcp-server/src/tools/update-element.ts
  packages/mcp-server/src/websocket.ts
  packages/mcp-server/web/App.tsx
Due: eslint --fix, prettier --write

fix(web): handle collaborators property to prevent serialization errors
  packages/mcp-server/src/websocket.ts
  packages/mcp-server/web/App.tsx
Due: eslint --fix, prettier --write

feat(elements): add element ID and binding support
  packages/mcp-server/src/tools/add-elements.ts
  packages/mcp-server/src/tools/update-element.ts
Due: eslint --fix, prettier --write

feat(elements): add container binding and smart text sizing
  packages/mcp-server/src/tools/add-elements.ts
Due: eslint --fix, prettier --write

chore(release): prepare package for npm publishing
  packages/mcp-server/README.md
  packages/mcp-server/package.json
Due: prettier --write

docs(i18n): translate all tool descriptions and README to English
  README.md
  packages/mcp-server/src/tools/add-elements.ts
  packages/mcp-server/src/tools/create-diagram.ts
  packages/mcp-server/src/tools/delete-element.ts
  packages/mcp-server/src/tools/export.ts
  packages/mcp-server/src/tools/get-scene.ts
  packages/mcp-server/src/tools/start-session.ts
  packages/mcp-server/src/tools/update-element.ts
Due: eslint --fix, prettier --write

refactor(elements): implement skeleton-based element creation with frontend delegation
  package.json
  packages/mcp-server/src/state.ts
  packages/mcp-server/src/tools/add-elements.ts
  packages/mcp-server/src/tools/get-scene.ts
  packages/mcp-server/src/tools/update-element.ts
  packages/mcp-server/src/websocket.ts
  packages/mcp-server/web/App.tsx
Due: eslint --fix, prettier --write

feat(websocket): add batch queuing and replay for skeleton elements
  packages/mcp-server/src/tools/add-elements.ts
  packages/mcp-server/src/websocket.ts
  packages/mcp-server/web/App.tsx
Due: eslint --fix, prettier --write

feat(tools): add architecture diagram template tool
  packages/mcp-server/src/tools/add-template-architecture.ts
  packages/mcp-server/src/tools/index.ts
Due: eslint --fix, prettier --write

feat(tools): add Mermaid diagram conversion support
  packages/mcp-server/package.json
  packages/mcp-server/src/tools/create-from-mermaid.ts
  packages/mcp-server/src/tools/index.ts
  packages/mcp-server/src/tools/start-session.ts
  packages/mcp-server/src/websocket.ts
  packages/mcp-server/web/App.tsx
  packages/mcp-server/web/mermaid-to-excalidraw.d.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

style(ui): replace emoji with lucide-react icons for connection status
  packages/mcp-server/package.json
  packages/mcp-server/web/App.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(tools): improve element ID display and session management
  packages/mcp-server/src/tools/get-scene.ts
  packages/mcp-server/src/tools/start-session.ts
  packages/mcp-server/web/App.tsx
Due: eslint --fix, prettier --write

feat(tools): auto-expand containers for long labels in Mermaid diagrams
  packages/mcp-server/web/App.tsx
Due: eslint --fix, prettier --write

refactor(tools): extract element normalization to shared module
  packages/mcp-server/src/shared/element-normalizer.ts
  packages/mcp-server/src/websocket.ts
  packages/mcp-server/web/App.tsx
Due: eslint --fix, prettier --write

fix(websocket): normalize linear elements during WebSocket sync
  packages/mcp-server/src/websocket.ts
  packages/mcp-server/web/App.tsx
Due: eslint --fix, prettier --write

feat(ui): auto-center scene content when loading new elements
  packages/mcp-server/web/App.tsx
Due: eslint --fix, prettier --write

ci(actions): remove pnpm version specification from GitHub Actions setup
  .github/workflows/ci.yml
Due: prettier --write

chore(deps): update pnpm-lock.yaml to v9 format
  pnpm-lock.yaml
Due: prettier --write

ci(actions): enhance CI workflow with performance optimizations
  .github/workflows/ci.yml
Due: prettier --write

chore(release): add alpha/beta/rc release scripts and GitHub Actions workflow
  .github/workflows/release.yml
  .versionrc.json
  CHANGELOG.md
  package.json
Due: prettier --write

chore(release): 0.1.0
  CHANGELOG.md
Due: prettier --write

fix(ci): remove unsupported pnpm pack --dry-run option
  .github/workflows/release.yml
  package.json
Due: prettier --write

feat(skills): add excalidraw-drawing-accuracy skill
  packages/skills/excalidraw-drawing-accuracy/SKILL.md
Due: prettier --write

docs(skills): enhance excalidraw-drawing-accuracy workflow and quality gates
  packages/skills/excalidraw-drawing-accuracy/SKILL.md
Due: prettier --write

refactor(skills): simplify excalidraw-drawing-accuracy to lightweight workflow
  packages/skills/excalidraw-drawing-accuracy/SKILL.md
Due: prettier --write

docs: enhance README with comprehensive usage examples and architecture
  README.md
  images/excalidraw-mcp-demo.png
  packages/skills/excalidraw-drawing-accuracy/SKILL.md
Due: prettier --write

chore: update demo image to architecture diagram
  README.md
  images/excalidraw-mcp-architechture.png
  images/excalidraw-mcp-demo.png
Due: prettier --write

feat: enhance shape label support with normalized alignment
  packages/mcp-server/src/tools/add-elements.ts
  packages/mcp-server/src/tools/update-element.ts
  packages/mcp-server/web/App.tsx
  packages/skills/excalidraw-drawing-accuracy/SKILL.md
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs,cjs}
  prettier --write: ((any of: *.{js,jsx,ts,tsx,mjs,cjs}) or (any of: *.{json,md,yaml,yml})) or (any of: *.{css,scss})
